<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      style="
        font-family: 'Helvetica Neue';
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
        margin: 0;
      "
      xmlns:th="http://www.w3.org/1999/xhtml"
    >
      <tbody>
        <tr
          style="
            font-family: 'Helvetica Neue';
            box-sizing: border-box;
            font-size: 14px;
            margin: 0;
          "
        >
          <td
            style="
              box-sizing: border-box;
              font-size: 14px;
              vertical-align: top;
              margin: 0;
            "
            valign="top"
          ></td>
          <td
            class="container"
            width="600"
            style="
              box-sizing: border-box;
              font-size: 14px;
              display: block !important;
              max-width: 600px !important;
              clear: both !important;
              margin: 0 auto;
            "
            valign="top"
          >
            <div
              class="content"
              style="
                box-sizing: border-box;
                font-size: 14px;
                max-width: 600px;
                display: block;
                margin: 0 auto;
                padding: 20px;
              "
            >
              <table
                class="main"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="
                  box-sizing: border-box;
                  font-size: 14px;
                  border-radius: 3px;
                  background-color: #fff;
                  margin: 0;
                  border: 1px solid #e9e9e9;
                "
              >
                <tbody>
                  <tr
                    style="box-sizing: border-box; font-size: 14px; margin: 0"
                  >
                    <td
                      class=""
                      style="
                        box-sizing: border-box;
                        font-size: 16px;
                        vertical-align: top;
                        color: #fff;
                        font-weight: 500;
                        text-align: center;
                        border-radius: 3px 3px 0 0;
                        background-color: #726b64;
                        margin: 0;
                        padding: 20px;
                      "
                    >
                      <p
                        href="#"
                        style="margin: 0px; font-size: 32px; color: #fff"
                      >
                        Shopfee
                      </p>
                      <br />
                      <span style="margin-top: 10px; display: block"
                        >Please Verify You Email Address</span
                      >
                    </td>
                  </tr>
                  <tr
                    style="box-sizing: border-box; font-size: 14px; margin: 0"
                  >
                    <td
                      class="content-wrap"
                      style="
                        box-sizing: border-box;
                        font-size: 14px;
                        vertical-align: top;
                        margin: 0;
                        padding: 20px;
                      "
                      valign="top"
                    >
                      <table
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        style="
                          box-sizing: border-box;
                          font-size: 14px;
                          margin: 0;
                        "
                      >
                        <tbody>
                          <tr
                            style="
                              box-sizing: border-box;
                              font-size: 14px;
                              margin: 0;
                            "
                          >
                            <td
                              class="content-block"
                              style="
                                box-sizing: border-box;
                                font-size: 14px;
                                vertical-align: top;
                                margin: 0;
                                padding: 0 0 20px;
                              "
                              valign="top"
                            >
                              <strong style="font-size: 20px"
                                >Confirm your email address</strong
                              >
                              <strong
                                style="
                                  box-sizing: border-box;
                                  font-size: 14px;
                                  margin: 0;
                                "
                                th:text="${name}"
                              ></strong>
                            </td>
                          </tr>
                          <tr
                            style="
                              box-sizing: border-box;
                              font-size: 14px;
                              margin: 0;
                            "
                          >
                            <td
                              class="content-block"
                              style="
                                box-sizing: border-box;
                                font-size: 14px;
                                vertical-align: top;
                                margin: 0;
                                padding: 0 0 20px;
                              "
                              valign="top"
                            >
                              <p>
                                We are sending this email to verify your account
                                authentication on our system.
                              </p>
                              <p>
                                Please enter the code below to authenticate your
                                email.
                              </p>
                              <p>
                                If it's not you, please ignore it and don't give
                                the code below to anyone
                              </p>
                            </td>
                          </tr>
                          <tr
                            style="
                              box-sizing: border-box;
                              font-size: 14px;
                              margin: 0;
                            "
                          >
                            <td
                              class="content-block"
                              style="
                                box-sizing: border-box;
                                font-size: 14px;
                                vertical-align: top;
                                margin: 0;
                                padding: 0 0 20px;
                                display: flex;
                              "
                              valign="top"
                            >
                              <strong
                                style="
                                  box-sizing: border-box;
                                  font-size: 30px;
                                  margin: 0 auto;
                                  width: fit-content;
                                  color: green;
                                "
                                >CODE</strong
                              >
                            </td>
                          </tr>
                          <tr
                            style="
                              box-sizing: border-box;
                              font-size: 14px;
                              margin: 0;
                            "
                          >
                            <td
                              class="content-block"
                              style="
                                box-sizing: border-box;
                                font-size: 14px;
                                vertical-align: top;
                                margin: 0;
                                padding: 0 0 20px;
                              "
                              valign="top"
                            >
                              Thanks you! <b></b>.
                            </td>
                          </tr>
                          <tr>
                            <td style="font-style: italic; font-size: 12px;">This email can't receive replies.</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="footer"
                style="
                  box-sizing: border-box;
                  font-size: 14px;
                  width: 100%;
                  clear: both;
                  color: #999;
                  margin: 0;
                  padding: 20px;
                "
              ></div>
            </div>
          </td>
          <td
            style="
              box-sizing: border-box;
              font-size: 14px;
              vertical-align: top;
              margin: 0;
            "
            valign="top"
          ></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
